body{
  margin: 0px auto;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;                                   /* хз как определил */
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  position: relative;
}
a{
  text-decoration: none;
}
.main-navigation{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: white;
  display: flex;
  height: 56px;
  flex-direction: column;
}
.page-navigation{
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.page-navigation li{
  width: 239px;
  text-align: center;
}
.main-logo{
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 530px;
}
.page-navigation,
.footer-social ul,
.sorting-list{
  list-style: none;
}
.page-navigation a{
  color: #000000;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-weight: 700;
}
.page-navigation a:hover,
.page-navigation a:focus{
  color: #81b3d2;
}
.page-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}
.page-current{
  color: #766357;         /* что это  */
}
.main-title{
  font-size: 21px;
  font-weight: 700;
}
.main-title,
.main-subtitle,
.search-title{
  text-align: center;
}
.main-legend{
  color: #000000;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
.main-legend::before{
  content: "";
  width:1200px;
  height:59px;
  margin-bottom: -3px;                              /*почему ты такой минус*/
  background-image: url("../img/intro-mask.svg");
}
.welcom-logo{
  align-self:center;
  order: -1;
  margin-bottom: 21px;
}
.column-title{
  background-color: #ffffff;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.column-title>p{
  width: 520px;
  margin: 0px;
  margin-bottom: 25px;
}
.features-list{
  margin: 0px;
  padding: 0px;
  line-height: 21px;
  list-style: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.features-list>li:nth-of-type(-n+3){
 line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  width: 400px;
}
.features-list>li:nth-of-type(2),
.features-list>li:nth-of-type(4){
  background-color: #ffffff;
  width: 1200px;
}
.features-list>li:first-child{
  align-self: flex-start;
}
.features-list>li:nth-child(3){
  align-self: flex-end;
}
.additional-features-list{
  padding: 0px;
  list-style: none;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}
.additional-features-item{
  color: #000000;
  background-color: #ffffff;
}
.features-list>li:last-child .additional-features-item{
  background-color: #eeeeee;
}
.features-item p::after,
.features-item p::before{
  content: "-";
}
.search{
  background-color: #ffffff;
  min-height: 300px;
}

/* ОПРЕДЕЛИТЬ РАЗМЕРЫЫЫЫЫЫЫ ........................................................................................................*/
.search-conteiner{
  width: 520px;
  margin: 0px auto;
  margin-bottom: 60px;
}
.search-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.modal-button{
  padding: 30px 139px;
  text-transform: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  display: block;
  box-sizing: border-box;
  height: 90px;
  width: 660px;
  margin: 0px auto;
  text-align: center;
}
.modal-button:hover,
.modal-button:focus{
  background-color: #604e43;
  outline: none;
}
.modal-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
/* РАЗМЕРЫ............................................................................ */
.modal{
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  font-weight: 700;
  box-sizing: border-box;
  width: 660px;
  min-height: 250px;      /* ВОПРос  */
  margin: 0px auto;
}
.modal-container{
  width: 450px;
  margin: 0px auto;
}
.modal-search{
  display: flex;
  flex-wrap: wrap;
}
.modal-search label{
  flex-basis: 130px;
}
.modal-search input[type="text"]{
  font: inherit;
  width: 240px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  flex-grow: 1;
  margin-bottom: 20px;
}
.column-people input[type="text"]{
  width: 60px;
}
.column-people label:nth-child(3){
  text-align: center;
}
.modal-search input[type="text"]:hover,
.modal-search input[type="text"]:focus{
  background-color: ebebeb;
  outline: none;
}
.modal-search input[type="text"]:active{
  background-color:#ffffff;
}
.column-people{
  width: 450px;
  display: flex;
  
}
.modal button{
  padding: 12px 135px 18px;
  text-transform: inherit;
  border: none;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  margin: 0px auto;
}
.modal button:hover,
.modal button:focus{
  background-color: #669ec0;
  outline: none;
}
.modal button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.main-footer{
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-social {
  text-align: center;
}
.footer-social ul{
  padding: 0px;
  margin: 0px;
  width: 200px; /* ВРЕМЕННО*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ВНУТРЕННЯЯ СТРАНИЦА..................................................................... */
.hotels-page{
  background-color: #f2f2f2;
  background-image: none;
}
.filter{
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}
.filter form{
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
}
.filter fieldset{
  display: flex;
  flex-direction: column;
}
.filter .cost-hotel{
  margin-right: 0px;
}
.filter-infrastructure,
.type-housing,
.cost-hotel{
  border: none;
}
.filter-title{
  font-size: 21px;           /* ОПРЕДЕЛИТЬ ТЕКСТ ДОМА В ФОТОШоПАХ ВАШИХ */
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}
.sorting{
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
}
.column-sorting{
  display: flex;
}
.sorting-text{
  font-size: 14px;
  line-height: 21px;
}
.sorting-item a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sorting-current a{
  color:#81b3d2;
  border: none;
}
.hashtag,
.sorting-total,
.catalog-item h3>a{
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.catalog-list{
  background-color: #ffffff;
  list-style: none;
}
.catalog-cost{
  color: #333333;
}
.catalog-rating{
  padding: 5px 10px;
  color: #666666;
  background-color: #f2f2f2;
}
.catalog-button-info{
  padding: 5px 17px;
  font-weight: 700;
  color: #ffffff;
  background-color:#81b3d2;
}
.catalog-button-info:hover,
.catalog-button-info:focus{
  background-color: #669ec0;
}
.catalog-button-info:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.catalog-button-reserve{
  padding: 5px 17px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}
.catalog-button-reserve:hover,
.catalog-button-reserve:focus{
  background-color: #604e43;
}
.catalog-button-reserve:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
