body {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  box-shadow: 0 0 20px 6px black;
}
a {
  text-decoration: none;
}
.container {
  width: 1070px;
  margin: 30px auto;
  margin-bottom: 0;
}
.main-navigation {
  display: flex;
  height: 56px;

  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: white;
}
.page-navigation {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  padding: 0;
}
.page-navigation li {
  width: 239px;

  text-align: center;
}
.main-logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: -1px;
  margin-left: -70px;

  font-size: 0;
}
.page-navigation,
.footer-social ul {
  list-style: none;
}
.page-navigation a {
  font-weight: 700;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #000000;
}
.page-navigation a:hover,
.page-navigation a:focus {
  color: #81b3d2;
}
.page-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.page-current {
  color: #766357;         /* что это  */
}
.main-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 21px;
}
.main-title,
.main-subtitle,
.search-title {
  margin: 0;
  margin-bottom: 25px;

  text-align: center;
}
.main-legend {
  display: flex;
  flex-direction: column;

  line-height: 26px;
  color: #000000;

  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.main-legend::before {
  content: "";

  width: 1200px;
  height: 59px;
  margin-bottom: -3px;                              /*почему ты такой минус*/

  background-image: url("../img/intro-mask.svg");
}
.welcom-logo {
  order: -1;
  align-self: center;
  margin-top: 76px;
  margin-bottom: 21px;
}
.column-title {
  padding-top: 60px;
  padding-bottom: 30px;

  background-color: #ffffff;
}
.column-title > p {
  width: 520px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.features-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 21px;

  background-color: #ffffff;
}
.features-list > li:nth-of-type(-n+3) {
  width: 300px;

  color: #ffffff;

  background-color: #81b3d2;
}
.features-list > li:first-child {
  align-self: flex-start;
}
.features-list > li:nth-child(3) {
  align-self: flex-end;
}
.additional-features-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}
.additional-features-item {
  position: relative;

  box-sizing: border-box;
  width: 400px;

  color: #000000;

  background-color: #ffffff;
}
.additional-features-list .additional-features-item {
  padding: 40px 70px;
}
.features-item:nth-of-type(4) .additional-features-item:nth-of-type(3) {
  padding: 40px 72px;
}
.features-item:nth-of-type(2) .additional-features-item {
  padding: 160px 50px 85px;
}
.features-item:nth-of-type(2) .additional-features-item::before {
  content: "";
  position: absolute;

  width: 90px;
  height: 90px;
}
/* При переполнении изображение двидется вместе с блоком */
.features-item:nth-of-type(2) .additional-features-item:nth-of-type(1)::before {
  top: 18%;
  left: 50%;

  margin-left: -40px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.features-item:nth-of-type(2) .additional-features-item:nth-of-type(2)::before {
  top: 18%;
  left: 50%;

  margin-left: -35px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}
.features-item:nth-of-type(2) .additional-features-item:nth-of-type(3)::before {
  top: 18%;
  left: 50%;

  margin-left: -35px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}
.features-list > li:last-child .additional-features-item {
  background-color: #eeeeee;
}
.features-item {
  position: relative;

  min-height: 146px;
  padding: 43px 50px;
}
.features-item:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;

  width: 200%;
  height: 100%;

  background-image: url("../img/background-features-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 59%;
}
.features-item:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;

  width: 200%;
  height: 100%;

  background-image: url("../img/background-features-2.jpg");
  background-position: 50% 55%;
}
.features-list > li:nth-of-type(2),
.features-list > li:nth-of-type(4) {
  width: 1200px;
  padding: 0;

  background-color: #ffffff;
}
.search {
  min-height: 291px;
  position: relative;
  z-index: 4;

  background-color: #ffffff;
}
.search-conteiner {
  width: 520px;
  margin: 0 auto;
  margin-bottom: 54px;
  padding-top: 50px;
}
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.modal-button {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 30px 84px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #604e43;
  outline: none;
}
.modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}
.modal-window {
  position: relative;
}
.map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.map iframe {
  position: relative;
  z-index: 2;
}
@keyframes show {
  0% {
    transform: translateY(-395px);
    opacity: 0;
  }
  30% {
    transform: translateY(-200px);
    opacity: 0.5;
  }
  60% {
    transform: translateY(-100px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    z-index: 3;
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;

  box-sizing: border-box;
  width: 568px;
  min-height: 395px;      /* ВОПРос  */
  margin: 0 auto;
  margin-left: -284px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;

  background-color: #ffffff;
  visibility: hidden;
}
.modal-vision{
  visibility: visible;
  animation: show 0.2s;
}
.modal-button:hover .modal {
  visibility: hidden;
}
.modal-container {
  width: 450px;
  margin: 0 auto;
  padding: 48px 0;
}
.modal-search {
  display: flex;
  flex-wrap: wrap;
}
.modal-search label {
  position: relative;

  flex-basis: 113px;
  align-self: flex-start;
  padding: 9px 0;
}
.people-sign,
.kids-sign{
  position: relative;
}
.people-sign > .minus,
.kids-sign > .minus{
  position: absolute;
  top: 21px;
  left: 11px;
  width: 11px;
  height: 3px;
  cursor: pointer;
}
.people-sign > .plus,
.kids-sign > .plus{
  position: absolute;
  top: 15px;
  left: 85px;
  width: 13px;
  height: 15px;
  cursor: pointer;
}
.minus:hover rect{
  fill: rgb(0, 0, 0);
}
.plus:hover rect{
  fill: rgb(0, 0, 0);
}
.minus:active rect{
  fill: #81b3d2;
}
.plus:active rect{
  fill: #81b3d2;
}
.modal-search svg {
  position: absolute;
  right: -290%;

  width: 23px;
  height: 24px;

  background-color: transparent;
  cursor: pointer;
}
.modal-search path {
  fill: rgba(0, 0, 0, 0.3);
}
.modal-search svg:hover path,
.modal-search svg:focus path {
  fill: rgb(0, 0, 0);
}
.modal-search svg:active path {
  fill: #81b3d2;
}
.modal-search input[type="text"] {
  flex-grow: 1;
  width: 240px;
  margin-bottom: 29px;
  padding: 7px 40px 7px 12px;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
  border: 2px solid #f2f2f2;
}
.modal-search input[type="text"]:hover {
  background-color: #dfdddd;
  border: 2px solid #dfdddd;
}
.modal-search input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}
.column-people {
  position: relative;

  display: flex;
  width: 450px;
}
.column-people input[type="text"] {
  width: 10px;
  margin-bottom: 55px;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;
}
.column-people label:nth-of-type(2) {
  text-align: center;
}
.modal-search input[type="text"]:hover,
.modal-search input[type="text"]:focus {
  background-color: #ebebeb;
  outline: none;
}
.modal-search input[type="text"]:active {
  background-color: #ffffff;
}
.modal button {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 12px 135px 18px;

  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: inherit;

  background-color: #81b3d2;
  border: none;
}
.modal button:hover,
.modal button:focus {
  background-color: #669ec0;
  outline: none;
}
.modal button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.main-footer {
  position: absolute;
  bottom: 0;
  z-index: 3;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;

  background-color: rgba(255, 255, 255, 0.9);
}
.hotels-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;

  background-color: rgba(255, 255, 255, 0.9);
}
.footer-social {
  min-width: 240px;

  text-align: center;
}
.hashtag {
  min-width: 240px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}
.footer-social li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  font-size: 0;
  line-height: 0;

  background-color: #81b3d2;
}
.footer-social li:hover,
.footer-social li:focus {
  background-color: #669ec0;
  outline: none;
}
.footer-social li:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.footer-social li:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.footer-copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 240px;
}
.footer-copyright a {
  width: 115px;
  height: 41px;
}
.button:hover path,
.button:focus path {
  fill: #81b3d2;
}
.button:active path {
  fill: rgba(0, 0, 0, 0.3);
}
.footer-copyright::before {
  content: "website by";

  margin-right: 8px;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
/* ВНУТРЕННЯЯ СТРАНИЦА..................................................................... */
.hotels-page {
  background-color: #f2f2f2;
  background-image: none;
}
.filter {
  background-image: url(../img/background-hotels.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 1px solid transparent;
}
.filter form {
  display: flex;
}
.filter fieldset {
  display: flex;
  margin-right: 100px;
  padding: 0;
}
.filter .cost-hotel {
  margin-right: 0;
  margin-left: auto;
}
.filter-infrastructure,
.type-housing,
.cost-hotel {
  min-width: 130px;

  color: #ffffff;

  border: none;
}
.filter-infrastructure label,
.type-housing label {
  position: relative;

  margin-bottom: 30px;
  margin-left: 35px;
}
.filter-infrastructure label::before,
.type-housing label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 37px;
  height: 25px;
  margin-top: -3px;
  margin-left: -35px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}
.filter-title {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 14px;           /* ОПРЕДЕЛИТЬ ТЕКСТ ДОМА В ФОТОШоПАХ ВАШИХ */
  line-height: 26px;
  color: #ffffff;
}
.cost-monitor {
  width: 330px;
  height: 36px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.cost-monitor {
  position: relative;

  display: inline-block;

  font-size: 14px;
  line-height: 38px;
}
.cost-monitor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}
.cost-monitor .min-price,
.cost-monitor .max-price {
  width: 90px;
  padding-left: 65px;
}
.cost-monitor input {
  width: 50px;

  color: inherit;

  background: none;
  border: none;
}
.cost-range {
  position: relative;

  margin-bottom: 32px;
}
.cost-range .scale {
  position: relative;

  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}
.cost-range .bar {
  width: 80%;
  height: 2px;

  background-color: rgba(255, 255, 255, 1);
}
.range-toggle {
  position: absolute;
  top: 0;

  width: 3px;
  height: 3px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
}
.range-toggle:hover {
  background-color: #1c4f80;
}
.range-toggle-min {
  left: 0;

  transform: translate(-50%, -50%);
}
.range-toggle-max {
  left: 80%;

  transform: translate(-50%, -50%);
}
.cost-hotel button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  color: #ffffff;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.sorting {
  font-size: 16px;
  line-height: 21px;

  background-color: #ffffff;
  border-bottom: 1px solid #f6f6f6;
}
.sorting .container {
  margin: 0 auto;
}
/* .................................................................how does it work????????????? */
.column-sorting {
  display: flex;
  align-items: center;
}
.sorting-text {
  font-size: 14px;
  line-height: 21px;
}
.column-sorting > p:nth-of-type(-n+2) {
  margin-right: 41px;
}
.sorting-list {
  display: flex;
  align-items: center;
  padding: 0;

  list-style: none;
}
.sorting-item a {
  margin-right: 31px;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}
.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;
}
.sorting-item a:active {
  color: #000000;

  border: none;
}
.sorting-current a {
  color: #81b3d2;

  border: none;
}
.sorting-direction {
  margin-left: auto;
}
.sorting-direction path {
  fill: #cacaca;
}
.sorting-direction svg:hover path,
.sorting-direction svg:focus path {
  fill: #231f20;
}
.sorting-direction svg:active path {
  fill: #81b3d2;
}
.current-choice svg:active path {
  fill: #81b3d2;
}
.sorting-total,
.catalog-item h3 > a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.catalog {
  background-color: #ffffff;
  border: 1px solid transparent;
}
.catalog-list {
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}
.catalog-cost {
  color: #333333;
}
.catalog-rating {
  position: relative;

  align-self: flex-end;
  margin: 0;
  margin-bottom: 14px;
  margin-left: auto;
  padding: 5px 10px;

  color: #666666;

  background-color: #f2f2f2;
}
.catalog-rating::before {
  content: "";
  position: absolute;
  top: -230%;
  right: 0;

  width: 80px;
  height: 30px;

  background-color: transparent;
  background-image: url("../img/star.svg");
  background-repeat: space;
}
.catalog-item:nth-of-type(2) .catalog-rating::before {
  width: 60px;
}
.catalog-item:nth-of-type(3) .catalog-rating::before {
  width: 40px;
}
.catalog-button-info {
  margin-right: 2px;
  padding: 5px 17px;

  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}
.catalog-button-info:hover,
.catalog-button-info:focus {
  background-color: #669ec0;
}
.catalog-button-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.catalog-button-reserve {
  padding: 5px 17px;

  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}
.catalog-button-reserve:hover,
.catalog-button-reserve:focus {
  background-color: #604e43;
}
.catalog-button-reserve:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}
.catalog-item {
  border-bottom: 1px solid #f6f6f6;
}
.catalog-item > .container {
  display: flex;
  margin: 15px auto;
}
.catalog-item p:nth-of-type(1) {
  order: -1;
  margin-right: 41px;
}
.column-two {
  margin: 8px 41px 14px 0;
}
.column-two h3 {
  margin: 0;
  margin-bottom: 10px;
}
.catalog-name:hover,
.catalog-name:focus {
  color: #669ec0;
}
.catalog-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.column-two p {
  margin: 0;
  margin-bottom: 16px;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
.hidden {
  visibility: hidden;
}
