body {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  box-shadow: 0 0 20px -5px black;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1057px;
  margin: 26px auto;
  margin-bottom: 0;
}
.main-navigation {
  display: flex;
  min-height: 55px;

  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: white;
}
.page-navigation {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  min-height: 55px;
  margin: 0;
  padding: 13px 72px;
}
.page-navigation li {
  flex-basis: 240px;
}
.page-navigation li:nth-of-type(1),
.page-navigation li:nth-of-type(2) {
  text-align: left;
}
.page-navigation li:nth-of-type(3) {
  margin-left: auto;
  padding-right: 3px;
}
.page-navigation li:nth-of-type(4),
.page-navigation li:nth-of-type(3) {
  text-align: end;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: -1px;
  margin-left: -70px;

  font-size: 0;

  cursor: pointer;
}
.page-navigation,
.footer-social ul {
  list-style: none;
}
.page-navigation a {
  font-weight: 700;
  color: #000000;
}
.page-navigation a:hover,
.page-navigation a:focus {
  color: #81b3d2;
}
.page-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.page-current {
  color: #766357;         /* что это  */
}
.main-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 21px;
}
.main-title,
.main-subtitle {
  margin: 0;
  margin-bottom: 23px;

  text-align: center;
}
.main-legend {
  display: flex;
  flex-direction: column;

  line-height: 26px;
  color: #000000;

  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.main-legend::before {
  content: "";

  width: 1200px;
  height: 60px;
  margin-bottom: -3px;                              /*почему ты такой минус*/

  background-image: url("../img/intro-mask.svg");
}
.welcom-logo {
  order: -1;
  align-self: center;
  margin-top: 76px;
  margin-bottom: 22px;
}
.column-title {
  padding-top: 60px;
  padding-bottom: 22px;

  background-color: #ffffff;
}
.column-title > p {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 29px;
}
.features-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 21px;

  background-color: #ffffff;
}
.features-list > li:nth-of-type(-n+3) {
  width: 300px;

  color: #ffffff;

  background-color: #81b3d2;
}
.features-list > li:first-child {
  align-self: flex-start;
}
.features-list > li:nth-child(3) {
  align-self: flex-end;
}
.additional-features-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}
.additional-features-item {
  position: relative;

  box-sizing: border-box;
  width: 400px;

  color: #000000;

  background-color: #ffffff;
}
.additional-features-list .additional-features-item {
  padding: 47px 70px;
  padding-bottom: 36px;
}
.features-item:nth-of-type(4) .additional-features-item:nth-of-type(3) {
  padding: 47px 72px;
  padding-bottom: 36px;
}
.features-item:nth-of-type(2) .additional-features-item {
  padding: 161px 50px 59px;
}
.features-item:nth-of-type(2) .additional-features-item::before {
  content: "";
  position: absolute;

  width: 90px;
  height: 90px;
}
/* При переполнении изображение двидется вместе с блоком */
.features-item:nth-of-type(2) .additional-features-item:nth-of-type(1)::before {
  top: 60px;
  left: 163px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}
.features-item:nth-of-type(2) .additional-features-item:nth-of-type(2)::before {
  top: 60px;
  left: 164px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}
.features-item:nth-of-type(2) .additional-features-item:nth-of-type(3)::before {
  top: 56px;
  left: 169px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}
.features-list > li:last-child .additional-features-item {
  background-color: #eeeeee;
}
.features-item {
  position: relative;

  min-height: 146px;
  padding: 48px 50px;
}
.features-item > .main-subtitle:nth-of-type(2) {
  margin-bottom: 13px;
}
.features-item:nth-of-type(3) .main-subtitle:nth-of-type(2) {
  min-width: 309px;
}
.features-item:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;

  width: 200%;
  height: 100%;

  background-image: url("../img/background-features-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 59%;
}
.features-item:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;

  width: 200%;
  height: 100%;

  background-image: url("../img/background-features-2.jpg");
  background-position: 50% 55%;
}
.features-list > li:nth-of-type(2),
.features-list > li:nth-of-type(4) {
  width: 1200px;
  padding: 0;

  background-color: #ffffff;
}
.search {
  position: relative;
  z-index: 4;

  min-height: 291px;

  background-color: #ffffff;
}
.search-conteiner {
  width: 520px;
  margin: 0 auto;
  margin-bottom: 47px;
  padding-top: 50px;
}
.search-conteiner > .main-subtitle{
  line-height: 24px;
}
.search-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.modal-button {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 30px 84px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #604e43;
  outline: none;
}
.modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}
.modal-window {
  position: relative;
}
.map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.map iframe {
  position: relative;
  z-index: 2;
}
@keyframes show {
  0% {
    transform: translateY(-395px);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    transform: translateY(-200px);
    transform: scale(0);
    opacity: 0.5;
  }
  60% {
    transform: translateY(-100px);
    opacity: 0.8;
  }
  100% {
    z-index: 3;

    transform: translateY(0px);
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;

  box-sizing: border-box;
  width: 568px;
  min-height: 395px;      /* ВОПРос  */
  margin: 0 auto;
  margin-left: -284px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;

  background-color: #ffffff;
  visibility: hidden;
}
.modal-vision {
  visibility: visible;

  animation: show 0.1s;
}
.modal-button:hover .modal {
  visibility: hidden;
}
.modal-container {
  width: 455px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 42px;
}
.modal-search {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 456px;
}
.modal-search label {
  position: relative;
  flex-basis: 111px;
  align-self: flex-start;
  padding: 7px 0;
}
.modal-error {
  animation: inputForm 0.2s;
}
.in-calendar,
.out-calendar,
.people-plus,
.kids-plus,
.people-minus,
.kids-minus{
  background-color: transparent;
  border: none;
  width: 21px;
  height: 22px;
  padding: 0;
  position: absolute;
  outline: none;
}
.in-calendar{
  top: 3%;
  right: 2%;
}
.out-calendar{
  top: 27%;
  right: 2%;
}
.people-plus{
  top: 12%;
  left: 43%;
}
.people-minus{
  top: 6%;
  left: 26%;
}
.kids-plus{
  top: 13%;
  right: 2%;
}
.kids-minus{
  top: 6%;
  right: 18%;
}
.minus:hover rect,
.minus:focus rect {
  fill: rgb(0, 0, 0);
}
.plus:hover rect,
.plus:focus rect {
  fill: rgb(0, 0, 0);
}
.minus:active rect {
  fill: #81b3d2;
}
.plus:active rect {
  fill: #81b3d2;
}
.modal-search svg {
  background-color: transparent;
  cursor: pointer;
}
.modal-search path {
  fill: rgba(0, 0, 0, 0.3);
}
.modal-search svg:hover path,
.modal-search svg:focus path {
  fill: rgb(0, 0, 0);
}
.modal-search svg:active path {
  fill: #81b3d2;
}
.modal-search input[type="text"] {
  flex-grow: 1;
  width: 240px;
  margin-bottom: 29px;
  padding: 4px 33px 4px 10px;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.modal-search input[type="text"]:hover {
  background-color: #dfdddd;
  border: 2px solid #dfdddd;
}
.modal-search input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}
.column-people {
  position: relative;
  display: flex;
  width: 456px;
}
.column-people input[type="text"] {
  width: 10px;
  margin-bottom: 55px;
  padding-right: 32px;
  padding-left: 33px;
  text-align: center;
}
.column-people label:nth-of-type(2) {
  box-sizing: border-box;
  padding-right: 24px;

  text-align: end;
}
.modal-search input[type="text"]:hover,
.modal-search input[type="text"]:focus {
  background-color: #ebebeb;
  outline: none;
}
.modal-search input[type="text"]:active {
  background-color: #ffffff;
}
.modal-find {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 14px 100px 18px;

  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: inherit;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
.modal-find:hover,
.modal-find:focus {
  background-color: #669ec0;
  outline: none;
}
.modal-find:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.main-footer {
  padding: 36px 0px;
  position: absolute;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.hotels-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 36px 0px;
  background-color: rgba(255, 255, 255, 0.9);
}
.footer-social {
  box-sizing: border-box;
  min-width: 240px;
  padding-bottom: 5px;

  text-align: center;
}
.hotels-footer .footer-social {
  padding-bottom: 2px;
}
.hashtag {
  box-sizing: border-box;
  min-width: 240px;
  padding-bottom: 10px;
  padding-left: 2px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}
.hotels-footer .hashtag {
  padding-bottom: 7px;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}
.footer-social li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  font-size: 0;
  line-height: 0;

  background-color: #81b3d2;
  cursor: pointer;
}
.footer-social li:hover,
.footer-social li:focus {
  background-color: #669ec0;
  outline: none;
}
.footer-social li:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.footer-social li:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.footer-copyright {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  min-width: 240px;
  padding-right: 20px;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 3px;
}
.hotels-footer .footer-copyright {
  padding: 0;
}
.footer-copyright a {
  width: 115px;
  height: 41px;
}
.button:hover path,
.button:focus path {
  fill: #81b3d2;
}
.button:active path {
  fill: rgba(0, 0, 0, 0.3);
}
.footer-copyright::before {
  content: "website by";
  margin-right: 8px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 7px;
}
/* ВНУТРЕННЯЯ СТРАНИЦА..................................................................... */
.hotels-page {
  background-color: #f2f2f2;
  background-image: none;
}
.filter {
  background-image: url(../img/background-hotels.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 1px solid transparent;
}
.filter form {
  display: flex;
  padding-bottom: 6px;
}
.filter fieldset {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  margin-right: 113px;
  padding: 0;
}
.filter .cost-hotel {
  margin-right: 0;
  margin-left: auto;
}
.filter-infrastructure,
.type-housing,
.cost-hotel {
  min-width: 130px;

  color: #ffffff;

  border: none;
}
.filter-infrastructure label,
.type-housing label {
  position: relative;

  padding-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}
.filter-infrastructure label::before,
.type-housing label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 25px;
  margin-top: -3px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}
input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}
.filter-title {
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.cost-hotel .filter-title {
  padding-bottom: 11px;
}
.cost-monitor {
  position: relative;

  display: inline-block;
  width: 314px;
  height: 32px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 33px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.cost-monitor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}
.cost-monitor .min-price,
.cost-monitor .max-price {
  padding-left: 65px;
}
.cost-monitor input {
  width: 58px;

  color: inherit;

  background: none;
  border: none;
  cursor: pointer;
}
.cost-range {
  position: relative;

  margin-bottom: 32px;
}
.cost-range .scale {
  position: relative;

  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.cost-range .bar {
  width: 80%;
  height: 2px;

  background-color: rgba(255, 255, 255, 1);
}
.range-toggle {
  position: absolute;
  top: 0;

  width: 3px;
  height: 3px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.range-toggle:hover {
  background-color: #1c4f80;
}
.range-toggle-min {
  left: 0;

  transform: translate(9%, -45%);
}
.range-toggle-max {
  left: 80%;

  transform: translate(-4%, -47%);
}
.cost-hotel button {
  display: block;
  margin: 0 auto;
  padding: 8px 34px;

  color: #ffffff;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.sorting {
  font-size: 16px;
  line-height: 21px;

  background-color: #ffffff;
  border-bottom: 1px solid #f6f6f6;
}
.sorting .container {
  margin: 0 auto;
}
/* .................................................................how does it work????????????? */
.column-sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 10px;
}
.sorting-text {
  font-size: 12px;
  line-height: 21px;
}
.column-sorting > .sorting-text {
  margin-right: 40px;
  padding-top: 6px;
}
.column-sorting > .sorting-total {
  margin-right: 47px;
  padding-left: 2px;
}
.sorting-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
  padding: 0;

  list-style: none;
  list-style: none;
}
.sorting-item {
  padding-top: 6px;
}
.sorting-item a {
  margin-right: 33px;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}
.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;
}
.sorting-item a:active {
  color: #000000;

  border: none;
}
.sorting-current a {
  color: #81b3d2;

  border: none;
}
.sorting-direction {
  margin-left: auto;
  padding-top: 3px;
}
.sorting-direction path {
  fill: #cacaca;
}
.sorting-direction svg:hover path,
.sorting-direction svg:focus path {
  fill: #231f20;
}
.sorting-direction svg:active path {
  fill: #81b3d2;
}
.sorting-up {
  margin-right: 8px;
}
.current-choice svg:active path {
  fill: #81b3d2;
}
.sorting-total,
.catalog-item h3 > a {
  max-width: 300px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.catalog {
  background-color: #ffffff;
  border: 1px solid transparent;
}
.catalog-list {
  margin-bottom: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}
.catalog-cost {
  color: #333333;
}
.catalog-stars i {
  padding-left: 6px;

  font-size: 0;
}
.catalog-stars i::before {
  content: "";

  display: block;
  min-width: 18px;
  height: 17px;

  background-color: transparent;
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}
.catalog-stars {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  width: 110px;
  height: 45px;
}
.catalog-rating {
  position: relative;

  align-self: flex-end;
  margin: 0;
  margin-bottom: 19px;
  margin-left: auto;
  padding: 3px 13px;

  color: #666666;

  background-color: #f2f2f2;
}
.catalog-item:nth-of-type(2) .catalog-rating::before {
  width: 60px;
}
.catalog-item:nth-of-type(3) .catalog-rating::before {
  width: 40px;
}
.catalog-button-info {
  margin-right: 2px;
  padding: 5px 17px;

  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}
.catalog-button-info:hover,
.catalog-button-info:focus {
  background-color: #669ec0;
}
.catalog-button-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.catalog-button-reserve {
  padding: 5px 17px;

  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}
.catalog-button-reserve:hover,
.catalog-button-reserve:focus {
  background-color: #604e43;
}
.catalog-button-reserve:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}
.catalog-item {
  border-bottom: 1px solid #f6f6f6;
}
.catalog-item > .container {
  position: relative;

  display: flex;
  margin: 13px auto;
}
.catalog-item p:nth-of-type(1) {
  order: -1;
  margin-right: 32px;
}
.column-two {
  margin: 9px 41px 14px 0;
}
.column-two h3 {
  margin: 0;
  margin-right: 41px;
  margin-bottom: 10px;
}
.catalog-name:hover,
.catalog-name:focus {
  color: #669ec0;
}
.catalog-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.column-two p {
  margin: 0;
  margin-bottom: 16px;
}
.catalog-cost span {
  display: inline-block;
  min-width: 100px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
.hidden {
  visibility: hidden;
}
